<%- include('partials/header') %>

<div class="h-screen flex justify-center items-center">
  <div class="flex flex-col gap-8 bg-zinc-50 p-16 rounded-lg shadow-lg w-1/2">
    <h1 class="font-bold text-5xl">Register</h1>
    <% if(error.length > 0) { %>
    <p class="font-medium bg-red-300 text-red-500 p-2 w-max rounded-lg">
      <%= error %>
    </p>
    <% } %>
    <form
      class="flex flex-col gap-8 items-center"
      action="/register"
      method="POST"
    >
      <div class="flex flex-col gap-4 items w-full">
        <label class="font-medium text-2xl" for="email">Email</label>
        <input
          class="shadow-lg p-2 rounded-lg"
          type="email"
          class=""
          name="email"
        />
      </div>
      <div class="flex flex-col gap-4 items w-full">
        <label class="font-medium text-2xl" for="email">Username</label>
        <input
          class="shadow-lg p-2 rounded-lg"
          type="text"
          class=""
          name="username"
        />
      </div>
      <div class="flex flex-col gap-4 w-full">
        <label class="font-medium text-2xl" for="password">Password</label>
        <input
          class="shadow-lg p-2 rounded-lg"
          type="password"
          name="password"
        />
      </div>
      <div class="flex flex-col gap-2">
        <button
          class="bg-zinc-700 text-white w-48 p-2 rounded-lg"
          type="submit"
        >
          Register
        </button>
        <a
        class="bg-red-500 text-white w-48 p-2 rounded-lg text-center font-bold"
        href="/auth/google"
        role="button"
      >
        Sign Up with Google
      </a>
        <a
          class="p-2 w-48 bg-zinc-400 text-white rounded-lg shadow-lg text-center"
          href="/"
          role="button"
          >Back</a
        >
      </div>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
